@import 'bootstrap/dist/css/bootstrap.css';

.cm-focused {
  outline: none !important;
}

.logo {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.fas.fa-spinner.spinner {
  animation: spin 2s linear infinite;
}

#editor {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  overflow: auto;
}