@import 'bootstrap/dist/css/bootstrap.css';

.cm-focused {
  outline: none !important;
}

.logo {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;

}

#loading {
  width: 100%;
  text-align: center;
}